html{
    font-size: 10px;
    font-family: 'sans-serif';
}

h1{
    text-align: center;
    font-size: 13rem;
    font-family: 'billabong';
    font-weight: 100;
    letter-spacing: -3px;
    margin: 1rem 0;
    color: black;
}

.photo-grid{
    max-width:1000px;
    display:flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.figure{
    flex-basis: calc(33.33% - 4rem);
    padding: 2rem;
    border: 1px solid #d3d3d3;
    flex-grow:1;
    margin: 0 2rem 2rem 2rem;
}

.photo{
    width: calc(100% + 4rem);
    margin: -2rem 0rem 0rem -2rem;
}
.button-container{
    display:flex;
    justify-content: center;
}
button {
    color: red;
    font-size: 1.5rem;
    border: 2px solid #e6d5d5;
    flex-basis: 48%;
    padding:5px;
    line-height:2;
    
}
@font-face{
    font-family: 'billabong';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf")
}

.addIcon {
    margin: 20px auto;
    display: table;
    padding: 40px;
    background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
    background-size:  contain;
    border: none;
}

.form {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    background-color:white;
    padding: 45px;

}
.form input{
    width: 100%;
    padding: 15px;
    margin: 0 0 15px;
    border: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #f2f2f2;
}
.form button{
    width: 100%;
    text-transform: uppercase;
    border: none;
    color: white;
    background: #065784;
    cursor:pointer;

}
.form button:hover{
    background: #7b8589;
}

button:hover {
    border-color: blue;
    }