
h1 {
    text-align: center;
}

.loginButtons{
    text-align: center;
    flex: 1;
    flex-direction: row;
    

}

.fbButton{
    border-style: solid;
}
h3 {
    margin-top: 140px;
    text-align: center;
}

.newIssue{
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.settingsIcon{
    position: absolute;
    top: 8px;
    right: 16px;
    height: 30px;
    width: 40px;
}
